<div class="large-12 small-12 columns auth_inner">
	<div class="large-12 small-12 columns nopadding">
		<div class="large-1 small-3 columns nopadding lock_ico_wrapper">
			<div class="lock_ico">
				<img src="/media/media/ico/зАМОК КРАСНЫЙ.png" alt="" class="height_inherit">
			</div>			
		</div>
	</div>

	<div class="large-12 small-12 columns nopadding auth_header">
		<h3 class="verdana">Авторизация</h1>
	</div>

	<div class="large-12 small-12 columns nopadding auth_login">
		<input type="text" placeholder="Логин" id="auth_login" title="Поле Имя пользователя" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding auth_password">
		<input type="password" placeholder="Пароль" id="auth_password" title="Поле Пароль" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding registration_link verdana">
		<span id="registration_request">Отправить запрос на регистрацию</span>
	</div>

	<div class="large-12 small-12 columns nopadding incorrect verdana">
		<span class="alert"></span>
	</div>

</div>
<div class="large-12 small-12 columns nopadding auth_submit">
	<button class="auth_submit_button large-12 small-12 columns nopadding verdana color_fff" data-id="{{url}}">
		Войти
	</button>
</div>