{% if associated_units|length > 0 %}
	<div class="large-12 small-12 columns content_line linked_units_wrapper">
		<div class="large-12 small-12 columns nopadding">
			{% if type%}
				<h3 class="monitorica uppercase">Возможность совместной эксплуатации</h3>					
			{% else %}
				<h3 class="monitorica uppercase">Сопутствующие товары</h3>
			{% endif %}
		</div>
	</div>

	<div class="large-12 small-12 columns content_line associated_panel">
		<div class="associated_unit_wrapper">

			{% if associated_units|length > 2 %}
				<div class="associated_unit_previous associated_unit_arrows n_tech_button_invert" data-id="{{associated_units.0.id}}" data-parent="{{associated_parent_id}}" data-count="{{carousel_items_count}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ 2.png" alt="стрелочки белые" class="height_inherit carousel_arrows">
					
				</div>

				<div class="associated_unit_next associated_unit_arrows n_tech_button_invert" data-id="{{associated_units.0.id}}" data-parent="{{associated_parent_id}}" data-count="{{carousel_items_count}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ.png" alt="стрелочки белые" class="height_inherit carousel_arrows">
				</div>
			{% endif %}

			{% for associated_unit in associated_units %}
				<a href="/level/{{associated_unit.level}}/unit/{{associated_unit.id}}" class="associated_unit_item" data-id="{{associated_unit.id}}">
					<div class="linked_unit_wrapper large-4 small-6 columns" style="float:left;">
						<div class="large-12 small-12 columns linked_unit_photo_wrapper nopadding">
							<img src="/media/{{associated_unit.unitphoto__Small}}" alt="{{associated_unit.Name}}">
						</div>
						<div class="large-12 small-12 columns nopadding linked_unit_name_wrapper">
							<h4 class="verdana color_000">{{associated_unit.Name|truncatechars:43}}</h4>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>

{% endif%}