{% load carousel %}
<div class="large-12 small-12 columns carousel_panel nopadding">
	{% for priority_unit in priority_units %}
		<div class="large-12 small-12 columns nopadding carousel_unit_wrapper" data-id="{{priority_unit.id}}">

			<div class="carousel_unit">
				<img src="/media/{{priority_unit.Image}}" alt="{{priority_unit.Name}}">

				<div class="carousel_change_unit carousel_change_left" data-id="{{priority_units|previous:forloop.counter0}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ 2.png" alt="стрелочи белые">
				</div>

				<div class="carousel_change_unit carousel_change_right" data-id="{{priority_units|next:forloop.counter0}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ.png" alt="стрелочки белые">
				</div>
			</div>

			<div class="carousel_unit_description">
				<a href="/level/{{priority_unit.Unit.level}}/unit/{{priority_unit.Unit.id}}">
					<div class="carousel_unit_description_text monitorica uppercase">
						<div class="large-12 small-12 columns nopadding">
							<h2 class="monitorica carousel_header">{{priority_unit.Name}}</h2>
						</div>
						{{priority_unit.ShortInf}}
					</div>
				</a>
			</div>

			<div class="navigation">
				{% for circle in priority_units %}
					<div class="carousel_small_circle{% if circle.id == priority_unit.id %} selected{% endif %}" data-id="{{circle.id}}">
						
					</div>
				{% endfor %}
			</div>

		</div>
	{% endfor %}
</div>

<script>
	$.getScript('/static/js/carousel/carousel.js')
</script>