<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<h1 class="h1_header color_red production_header_text">Контактная информация</h1>	
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>


			<div class="large-12 small-12 columns content_line">
				<div class="map_wrapper large-12 small-12 columns nopadding">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.4376447185873!2d49.16930645158576!3d55.78563818046675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead9c8256931d%3A0x855c7b8508664c0!2z0YPQuy4g0JPQstCw0YDQtNC10LnRgdC60LDRjywgMzMsINCa0LDQt9Cw0L3RjCwg0KDQtdGB0L8uINCi0LDRgtCw0YDRgdGC0LDQvSwgNDIwMDcz!5e0!3m2!1sru!2sru!4v1490101243458" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns contact_firm_header nopadding">
					<h2 class="monitorica">СКБ «Новые технологии»</h2>
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-4 small-12 columns contact_address_item nopadding">

					<div class="large-2 small-2 columns contact_address_item_ico height_inherit nopadding">
						<img src="/media/media/ico/локация 2.png" alt="адрес">	
					</div>

					<div class="large-10 small-10 columns address_item_text height_inherit nopadding">
						<div class="large-12 small-12 columns item_text_header">
							<h3 class="verdana color_red">Адрес:</h3>
						</div>
						<div class="large-12 small-12 columns item_text_text verdana">
							<p>420073, Россия, г. Казань,</p>
							<p>ул. Гвардейская, 33 оф. 303-305</p>
						</div>
					</div>

				</div>
				<div class="large-4 small-12 columns contact_address_item nopadding">

					<div class="large-2 small-2 columns contact_address_item_ico height_inherit nopadding">
						<img src="/media/media/ico/телефон.png" alt="телефон">
					</div>

					<div class="large-10 small-10 columns address_item_text height_inherit nopadding">
						<div class="large-12 small-12 columns item_text_header">
							<h3 class="verdana color_red">Телефон:</h3>
						</div>
						<div class="large-12 small-12 columns item_text_text verdana">
							<p>тел.: +7 (843) 228-53-07</p>
							<p>факс.: +7 (843) 228-53-08</p>
						</div>
					</div>

				</div>
				<div class="large-4 small-12 columns contact_address_item nopadding">

					<div class="large-2 small-2 columns contact_address_item_ico height_inherit nopadding">
						<img src="/media/media/ico/почта красн.png" alt="почта">
					</div>

					<div class="large-10 small-10 columns address_item_text height_inherit nopadding">
						<div class="large-12 small-12 columns item_text_header">
							<h3 class="verdana color_red">E-mail:</h3>
						</div>
						<div class="large-12 small-12 columns item_text_text verdana">
							<p>info@kb-nt.com</p>
						</div>
					</div>

				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns contact_firm_header nopadding">
					<h3 class="monitorica">Оставьте нам сообщение</h3>
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<input type="text" class="n_tech_input" placeholder="контактное лицо *" id="letter_name">
				</div>

				<div class="large-12 small-12 columns nopadding">
					<input type="text" class="n_tech_input" placeholder="телефон *" id="letter_telephone">
				</div>

				<div class="large-12 small-12 columns nopadding">
					<input type="text" class="n_tech_input" placeholder="э/почта" id="letter_email">
				</div>

				<div class="large-12 small-12 columns nopadding">
					<textarea name="" id="letter_text" cols="30" rows="10" class="n_tech_textarea" placeholder="текст *"></textarea>
				</div>

				<div class="large-12 small-12 columns nopadding alert" id="submit_letter_message_error">
				</div>

				<div class="large-12 small-12 columns nopadding success" id="submit_letter_message_success">
				</div>

				<div class="large-12 small-12 columns nopadding">
					<button class="n_tech_button" id="submit_letter">Отправить</button>
				</div>
			</div>
		</div>
	</div>
</div>