{% if id != 10 and id != 164 %}
	<div class="header_paragraph_unit">
		<a href="/level/1/unit/{{id}}/">
			<span {% if id == level_1.id %}class="color_red"{% endif %}>{{name}}</span>
		</a>
	</div>
{% elif id == 164 %}
	<div class="header_paragraph_unit" style="margin-top:0;">
		<div class="search_panel">
			<div class="large-10 small-10 columns nopadding">
				<input type="text" class="search_panel_input" placeholder="Поиск">
			</div>
			<div class="large-2 small-2 columns nopadding search_panel_button">
				<span id="search_panel_process_button">
					<i class="fi-magnifying-glass"></i> 
				</span>
			</div>
		</div>
	</div>
{% elif id == 10 %}
	<div class="header_paragraph_unit">
		<a href="/contacts/">
			<span {% if selected_unit_id == 10 %}class="color_red"{% endif %}>{{name}}</span>
		</a>
	</div>
{% endif %}