<div class="large-12 small-12 columns nopadding">
	<div class="large-12 small-12 columns nopadding">
		{% if username != None %}

			<div class="large-8 small-9 columns nopadding">
				<div class="login_panel_item monitorica login_text">
				  <span class="span_large">Пользователь: {{username}}</span>
				</div>	
			</div>

			<div class="large-4 small-3 columns nopadding">
				<div class="login_panel_item monitorica login_text" id="logout">
				  <a href="#" class="color_fff span_large">
				  	Выйти
			  	</a>
				</div>	
			</div>

			
						
		{% else %}

			<div class="large-6 small-12 columns nopadding login_panel_item monitorica" id="login_header" data-url="{{request.path}}">
				<span class="login_text">
					<a href="#" class="color_fff">

						<div class="large-2 small-5 columns nopadding">
							<span class="lock_wrapper">
								<i class="fi-lock login_ico"></i>
							</span>
						</div>

						<div class="large-10 small-7 columns nopadding">
							<span class="span_large">Авторизация</span>	
						</div>

					</a>
				</span>
			</div>

		{% endif %}
	</div>     
</div>