<div class="large-12 small-12 columns nopadding products_outer">
	<div class="large-12 small-12 columns productions_wrapper">
		{% for production in productions %}
			{% if production.id != 12 %}
				{% if production.Locked != True %}
					<a href="/level/2/unit/{{production.id}}" id="product_link">
				{% endif %}
				<div class="large-6 small-12 columns production_item_wrapper" data-url="/level/2/unit/{{production.id}}" id="login">
					<div class="large-12 small-12 columns production_item_content height_inherit nopadding">
						
						<div class="large-6 small-6 columns nopadding production_item_ico_wrapper">
						</div>

						<div class="production_item_border">
							
						</div>

						<div class="large-12 small-12 columns nopadding production_item_header_wrapper">

								<div class="large-7 small-7 columns production_item_header_inner height_inherit">
										<h2 class="verdana">
											<span class="large-12 small-12 columns nopadding products_header_text">
												{{production.Name}}
											</span>
											<!-- <span class="large-3 small-3 columns nopadding">
												<button class="n_tech_button production_go_next" title="Подробнее">
													<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ.png" alt="" class="production_go_next_passive">
													<img src="/media/media/ico/СТРЕЛОЧКИ КРАСНЫЕ.png" alt="" class="production_go_next_active">
												</button>
											</span> -->
											
										</h2>
									
								</div>


						</div>
						
						<div class="production_item_ico">
							<img src="/media/{{production.Ico}}" alt="" class="height_inherit">
						</div>
						<div class="production_item_description vergana">
							{{production.ShortInf}}
						</div>

						{% if production.Locked == True %}
						<div class="production_item_locked">
							<img src="/media/media/ico/Замок голубой.png" alt="" class="lock_passive height_inherit">
							<img src="/media/media/ico/зАМОК КРАСНЫЙ.png" alt="" class="lock_active height_inherit" style="display:none;">
						</div>
						{% endif %}

					</div>
				</div>
				{% if production.Locked != True %}
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>