<div class="large-12 small-12 columns registration_inner">

	<div class="large-12 small-12 columns nopadding">
		<div class="large-1 small-3 columns nopadding lock_ico_wrapper">
			<div class="lock_ico">
				<img src="/media/media/ico/зАМОК КРАСНЫЙ.png" alt="" class="height_inherit">
			</div>			
		</div>
	</div>

	<div class="large-12 small-12 columns nopadding registration_header">
		<h3 class="verdana">Запрос на регистрацию</h1>
	</div>

	<div class="large-12 small-12 columns nopadding registration_note">
		<span class="verdana">* - обязательные для заполнения поля</span>
	</div>

	<div class="large-12 small-12 columns nopadding registration_name">
		<input type="text" placeholder="Ваше имя*" id="registration_name" title="Поле Ваше имя" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding registration_email">
		<input type="text" placeholder="E-mail*" id="registration_email" title="Поле E-mail" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding registration_telephone">
		<input type="text" placeholder="Телефон" id="registration_telephone" title="Поле телефон" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding registration_organization">
		<input type="text" placeholder="Название организации*" id="registration_organization" title="Поле Название организации" class="n_tech_input">
	</div>

	<div class="large-12 small-12 columns nopadding registration_text">
		<textarea id="registration_text" class="n_tech_textarea" cols="30" rows="10" placeholder="Текст сообщения"></textarea>
	</div>

	<div class="large-12 small-12 columns nopadding incorrect verdana">
		<span class="alert"></span>
	</div>

	<div class="large-12 small-12 columns nopadding correct verdana">
		<span class="success"></span>
	</div>

	<div class="large-12 small-12 columns nopadding confidence_politics">
		<span class="verdana span_small text_secondary">Нажимая на кнопку "ОТПРАВИТЬ", я соглашаюсь с условиями <a href="/pdf_view/privacy 1.pdf" target="_blank">Политики конфиденциальности</a> и <a href="/pdf_view/user_agree 2.pdf" target="_blank">Пользовательского соглашения</a></span>		
	</div>

</div>

<div class="large-12 small-12 columns nopadding registration_submit">

	<button class="registration_submit_button large-12 small-12 columns nopadding verdana color_fff">
		Отправить
	</button>

</div>