<table>
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Тип</th>
		</tr>
	</thead>
	<tbody>
		{% for unit in units %}
			<tr>
				<td><a href="/level/{{unit.level}}/unit/{{unit.id}}/">{{unit.Name}}</a></td>
				<td>{% if unit.UnitForPay %}Товар{% else %}Раздел{% endif %}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>