<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<h1 class="h1_header color_red production_header_text">Поиск</h1>
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<!-- <div class="large-12 small-12 columns content_line level_2_description_panel">
				<div class="large-12 small-12 columns nopadding level_2_description">
					<div class="large-12 small-12 columns verdana height_inherit level_2_description_text color_fff">
						<p>
							Поиск производится по ключевому слову или его части, по группе слов, разделенных пробелами.
						</p>
					</div>
				</div>
			</div> -->

			<div class="large-12 small-12 columns content_line search_input_wrapper">
				<input type="text" class="n_tech_input" placeholder="введити слово часть слова или слова через пробел" id="words" value="{{inputed_words}}">
			</div>

			<div class="large-12 small-12 columns content_line searching_button">
				<button class="n_tech_button" id="process_searching">Найти</button>
			</div>

			<div class="large-12 small-12 columns content_line search_result_wrapper">
				{{search_result_table}}				
			</div>

		</div>
	</div>
</div>