<a href="/level/{{unit.level}}/unit/{{unit.id}}" class="unit_link">
	<div class="large-4 small-12 columns level_2_unit_wrapper">
		<div class="large-12 small-12 columns nopadding level_2_unit_header monitorica color_red">
			<span>{{unit.Name}}</span>
		</div>


		<div class="large-12 small-12 columns level_2_unit_photo">
			<img src="/media/{{unit.unitphoto__Small}}" alt="{{unit.Name}}" class="height_inherit">
		</div>
		
		<div class="large-12 small-12 columns nopadding level_2_unit_description_wrapper">
			
			<div class="tree_unit_delimiter"></div>

			<div class="large-12 small-12 columns level_2_unit_description_text verdana">
				<p>{{unit.Description|linebreaks|truncatechars:140}}</p>
			</div>
		</div>

	</div>
</a>