<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			{% if is_auth and not locked_for_users %}

			<div class="large-12 small-12 columns content_line">
				<button class="monitorica parent_tree color_fff">
					{% for parent in parents_tree %}
					{% if forloop.first %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="/">
							{{parent.Name|capfirst}}
						</a>
						<span class="slash">/</span>
					</span>
					<hr class="hr_delimiter">
					{% elif not forloop.last %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="/level/{{parent.level}}/unit/{{parent.id}}/">
							{{parent.Name|capfirst}}
						</a>
						<span class="slash">/</span>
					</span>
					<hr class="hr_delimiter">
					{% else %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="#" class="color_red">
							{{parent.Name|capfirst}}
						</a>
					</span>
					{% endif %}
					{% endfor %}
				</button>
			</div>

			<div class="large-12 small-12 columns content_line">
				<h1 class="h1_header">{{unit.Name}}</h1>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			{% if unit_carousel_panel != None %}
			{{unit_carousel_panel}}
			{% endif %}

			<!-- <div class="large-12 small-12 columns content_line level_2_description_panel">
				<div class="large-12 small-12 columns nopadding level_2_description">
					<div class="large-1 small-2 columns nopadding height_inherit level_2_description_dot">
						<span class="dot"></span>
					</div>

					<div class="large-12 small-12 columns verdana height_inherit level_2_description_text color_fff">
						{{unit.Description|linebreaks}}
					</div>
				</div>
			</div> -->

			<div class="large-12 small-12 columns content_line level_2_unit_pannel">
				{% for unit in units %}
				{{unit}}
				{% endfor %}
			</div>
			{% elif locked_for_users %}
			<div class="large-12 small-12 columns content_line">
				<span>Доступ к странице временно ограничен.</span>
			</div>
			{% else %}
			<div class="large-12 small-12 columns content_line">
				<span>Для просмотра страницы необходимо авторизироваться, либо запросить заявку на регистрацию в форме авторизации.</span>
			</div>
			<div class="large-12 small-12 columns content_line">
				<button class="n_tech_button" id="login_button" data-url="{{request.path}}">Авторизироваться</button>
			</div>
			{% endif %}

		</div>
	</div>
</div>
