{% load carousel %}

<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			{% if is_auth and not locked_for_users %}

			<div class="large-12 small-12 columns content_line">
				<button class="monitorica parent_tree color_fff">
					{% for parent in parents_tree %}
					{% if forloop.first %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="/">
							{{parent.Name|capfirst}}
						</a>
						<span class="slash">/</span>
					</span>
					<hr class="hr_delimiter">
					{% elif not forloop.last %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="/level/{{parent.level}}/unit/{{parent.id}}/">
							{{parent.Name|capfirst}}
						</a>
						<span class="slash">/</span>
					</span>
					<hr class="hr_delimiter">
					{% else %}
					<span class="parent_tree_unit nopadding" style="float:left;">
						<a href="#" class="color_red">
							{{parent.Name|capfirst}}
						</a>
					</span>
					{% endif %}
					{% endfor %}
				</button>
			</div>

			<div class="large-12 small-12 columns content_line">
				<h1 class="verdana sts_unit_header" title="{{unit.Name}}">{{unit.Name}}</h1>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<div class="large-12 small-12 columns content_line unit_for_pay_content">
				<div class="large-5 small-12 columns unit_for_pay_description_left nopadding">
					<div class="unit_for_pay_photo_wrapper shadow_hover">
						<img src="/media/{{main_photo.Small}}" alt="{{unit.Name}}" class="photo" data-id="{{main_photo.id}}">
					</div>
					<div class="unit_for_pay_photo_secondary_wrapper large-12 small-12 columns nopadding">
						{% for photo_child in photos_children %}
						<div class="large-3 small-6 columns secondary_photo_item_wrapper" style="float:left;">
							<div class="large-12 small-12 columns nopadding secondary_photo_item shadow_hover">
								<img src="/media/{{photo_child.Small}}" alt="{{unit.Name}}" class="photo" data-id="{{photo_child.id}}">
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="large-7 small-12 columns unit_for_pay_description_right">

					<div class="description_right_header_panel nopadding large-12 small-12 columns nopadding">
						<div class="large-12 small-12 columns nopadding">
							<div class="description_right_header_left color_red_link unit_for_pay_descriptions" id="description1_button">
								<h2 class="monitorica">описание</h2>
							</div>

							{% if unit.Description2 %}
							<div class="description_right_header_right">
								<h2 class="monitorica unit_for_pay_descriptions" id="description2_button">комплектация</h2>
							</div>
							{% endif%}

							{% if unit.Functional %}
							<div class="description_right_header_right">
								<h2 class="monitorica unit_for_pay_descriptions" id="functional_button">функционал</h2>
							</div>
							{% endif %}

							{% if unit.Features %}
							<div class="description_right_header_right">
								<h2 class="monitorica unit_for_pay_descriptions" id="features_button">особенности</h2>
							</div>
							{% endif %}

						</div>
					</div>

					<div class="description_right_text verdana large-12 small-12 columns nopadding" id="description1">
						{{unit.Description|linebreaks}}
					</div>

					<div class="description_right_text verdana large-12 small-12 columns nopadding" id="description2" style="display:none;">
						{{unit.Description2|linebreaks}}
					</div>

					<div class="description_right_text verdana large-12 small-12 columns nopadding" id="functional" style="display:none;">
						{{unit.Functional|linebreaks}}
					</div>

					<div class="description_right_text verdana large-12 small-12 columns nopadding" id="features" style="display:none;">
						{{unit.Features|linebreaks}}
					</div>

					<div class="large-12 small-12 columns nopadding label_wrapper">
						<div class="label_outer color_fff">
							<span class="monitorica">Цена по запросу</span>
						</div>
					</div>

					<!-- <a href="/add_to_cart/unit/{{unit.id}}/"> -->
					<div class="large-12 small-12 columns nopadding">
						<div class="large-6 small-12 columns nopadding">
							<button class="n_tech_button" id="add_to_cart" data-id="{{unit.id}}">
								<span>Добавить в корзину</span>
							</button>
							<a href="/cart/" title="Просмотреть корзину">
								<span class="cart_icon_button_wrapper">
									<i class="fi-shopping-cart cart_icon_button color_red"></i>
								</span>
							</a>
						</div>
						<div class="large-6 small-12 columns nopadding">
							<div class="cart_item_quantity_wrapper">
								<div class="large-6 small-7 columns nopadding">
									<span class="monitorica cart_item_quantity_header">Количество</span>
								</div>
								<div class="cart_item_quantity_panel large-6 small-5 columns nopadding">
									<div class="large-4 small-4 columns nopadding">
										<button class="n_tech_button_invert cart_item_quantity_minus" data-id="{{unit.id}}"><i class="fi-minus"></i></button>
									</div>
									<div class="large-5 small-5 columns nopadding">
										<input type="number" class="n_tech_input cart_item_quantity_input" value="1" min="0" data-id="{{unit.id}}">
									</div>
									<div class="large-3 small-3 columns nopadding">
										<button class="n_tech_button_invert cart_item_quantity_plus" data-id="{{unit.id}}"><i class="fi-plus"></i></button>
									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- </a> -->

				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns properties_table nopadding property_panel">
					{% if unit.TechnicalCharacteristic %}
					{{unit.TechnicalCharacteristic|safe|linebreaks}}
					{% endif %}

					{% if properties|length > 0 %}
					<table>
						<thead>
							<tr>
								<th class="verdana uppercase">{% if camera_brunch %}особенности{% else %}Технические характеристики{% endif %}</th>
							</tr>
						</thead>
					</table>

					{% for property in properties %}
					{% if property.Description == '' %}
					<table>
						<tbody>
							<tr>
								<th class="verdana">{{property.Name|safe}}</th>
							</tr>
						</tbody>
					</table>
					{% else %}
					<table>
						<tbody>
							<tr>
								<td class="verdana" width="700">{{property.Name|safe}}</td>
								<td class="verdana">{{property.Description|linebreaks}}</td>
							</tr>
						</tbody>
					</table>
					{% endif %}
					{% endfor %}

					{% endif %}
				</div>
			</div>

			<div id="carousel_items_panel">
				{{carousel_items_panel}}
			</div>
			{% elif locked_for_users %}
			<div class="large-12 small-12 columns content_line">
				<span class="verdana alert">Вы не можете просматривать данную страницу</span>
			</div>
			{% else %}
			<div class="large-12 small-12 columns content_line">
				<span class="verdana alert">Вы не можете просматривать данную страницу</span>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<script>
	{% if unit %}
	var unit = {{ json_unit| safe}};
	{% endif %}

	{% if associated_units %}
	var associated_units = {{ associated_units| safe}};
	{% endif %}
</script>
