{% load carousel %}
<div class="large-12 small-12 columns carousel_panel nopadding" style="margin-top:30px;height:250px;">
	{% for object in unit_carousel_objects %}
		<div class="large-12 small-12 columns nopadding carousel_unit_wrapper" data-id="{{object.Unit_id}}" style="margin-top:0;height:250px;">
			
			<div class="carousel_unit" style="margin-top:0;height:250px;width:990px;margin-left:40px;">
				<img src="/media/{{object.Image}}" alt="{{object.Title}}">

				<!-- <div class="carousel_change_unit carousel_change_left" data-id="{{carousel_objects|previous:forloop.counter0}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ 2.png" alt="стрелочи белые">
				</div>
				
				<div class="carousel_change_unit carousel_change_right" data-id="{{carousel_objects|next:forloop.counter0}}">
					<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ.png" alt="стрелочки белые">
				</div> -->
			</div>

			<!-- <div class="carousel_unit_description" style="margin-left:730px;margin-top:40px;">
				<a href="/level/{{object.Unit__level}}/unit/{{object.Unit_id}}/">
					<div class="carousel_unit_description_text monitorica uppercase">
						<div class="large-12 small-12 columns nopadding">
							<h2 class="monitorica carousel_header">{{object.Title}}</h2>
						</div>
						{{object.Description}}
					</div>
				</a>
			</div> -->

			<div class="navigation">
				{% for circle in priority_units %}
					<div class="carousel_small_circle{% if circle.id == priority_unit.id %} selected{% endif %}" data-id="{{circle.id}}">
						
					</div>
				{% endfor %}
			</div>

		</div>
	{% endfor %}
</div>

<script>
	$.getScript('/static/js/carousel/carousel.js')
</script>