<div class="close_photo">
	<span class="close_photo_text">&times;</span>
</div>

<div class="image_view_wrapper">
	<img src="/media/{{photo.Large}}" alt="">
	{% if can_switch %}
		<div id="previous_photo" class="photo_arrow monitorica" data-id="{{previous_element.unit.id}}">
			<span class="min_photo_wrapper min_photo_left">
				<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ 2.png" alt="" class="photo_arrow_img">
			</span>
		</div>
		<div id="next_photo" class="photo_arrow monitorica" data-id="{{next_element.unit.id}}">
			<span class="min_photo_wrapper">
				<img src="/media/media/ico/СТРЕЛОЧКИ БЕЛЫЕ.png" alt="" class="photo_arrow_img">
			</span>
		</div>
	{% endif %}
</div>


{% if photo.Description != 'Нет описания' or photo.Description == '' %}
	<div class="photo_description_wrapper">
		<div class="photo_description height_inherit">
			<span class="verdana photo_description_text span_usual">{{photo.Description}}</span>
		</div>
	</div>
{% endif %}