.min_photo_left{
	margin-left:-13px;
}

.image_view_wrapper{
	height:auto;
	display: inline-block;
	vertical-align: middle;
}

.confidence_politics{
	text-align: left;
	line-height: 0.9;
}

.carousel_arrows{
	margin-top:-4px;
}

.lock_wrapper{
	position:absolute;
	margin-top:-5px;
	margin-left:-15px;
}

.tree_unit_delimiter{
	height:2px;
	position:absolute;
	background-color:#e3e3e3;
	width:280px;
	margin-left:8px;
}

.associated_panel{
	height:280px;
}

.associated_unit_wrapper{
	position:absolute;
	width:990px;
	height:inherit;
}

.associated_unit_previous{
	left:0;
	margin-left:-35px;
}

.associated_unit_next{
	right:0;
	margin-right:-35px;
}

.associated_unit_arrows{
	position:absolute;
	display:block;
	padding-top:5px;
	/* height:30px;
	width:30px; */
	margin-top:110px;
	cursor:pointer;
}

.linked_unit_name_wrapper{
	margin-top:15px;
	text-align: center;
}

.linked_unit_photo_wrapper img{
	width:auto;
	height:auto;
	max-width: 280px;
	max-height: 280px;
}

.linked_unit_photo_wrapper{
	background-color:#fff;
	text-align: center;
	height:230px;
	overflow: hidden;
	border:2px solid #e3e3e3;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
}
.linked_unit_photo_wrapper:hover{
	border:2px solid #ccc;
	-webkit-box-shadow: 0 12px 6px -6px #ccc;
	-moz-box-shadow: 0 12px 6px -6px #ccc;
	box-shadow: 0 12px 6px -6px #ccc;
}

.linked_unit_wrapper{
	height:320px;
	padding:15px;
	
}

.linked_unit_wrapper:hover{
}


.close_photo_text{
	position:absolute;
	font-size:30px;
	top:-5px;
	left:9px;	
}

.close_photo:hover{
}

.close_photo{
	position:fixed;
	height:35px;
	width:35px;
	top:15px;
	right:15px;
	display:inline-block;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px;
	color:#fff;
	cursor:pointer;
}

#modal_image_wrapper{
	display:none;
}

.modal_image_inner{
	margin-left:auto;
	margin-right:auto;
	text-align:center;

	height:800px;
}

.carousel_change_right{
	right:2px;
}

.carousel_change_left{
	left:2px;
}

.carousel_change_unit{
	z-index: 1;
	position:absolute;
	height:30px;
	width:30px;
	display:block;
	/* background-color:#ccc; */
	top:190px;
	padding:8px;
	cursor:pointer;
	border-radius:3px;
}

.carousel_change_unit img:hover{
	/* background-color:#bc473e; */
}

.carousel_change_unit img{
	opacity:0.7;
}

.photo_description_wrapper{
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	left:50%;
}

.photo_description{
	position:relative;
	left:-50%;
	background-color:#222e44;
	color:#fff;
	text-align: center;
	padding-top:10px;
}
.unit_for_pay_descriptions:hover{
	color:#bc473e;
}
.unit_for_pay_descriptions{
	display:inline-block;
	height:35px;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px;
	color:#777;
}

.cart_item_quantity_input{
	height:35px;
	margin:0;
}

.cart_item_quantity_header{
	font-size:20px;
	position:absolute;
	margin-top:5px;
}

.cart_item_quantity_plus{
	padding:5px;
	float:left;
}
.cart_item_quantity_plus i{
	color:#fff;
}

.cart_item_quantity_minus{
	float:right;
}
.cart_item_quantity_minus i{
	color:#fff;
}

.cart_item_quantity_wrapper{
	height:80px;
	width:200px;
	display:inline-block;
}

#previous_photo{
	float:left;
	margin-left:-10px;
}

#next_photo{
	float:right;
}

.photo_arrow{
	width:40px;
	padding:8px;
	cursor:pointer;
	position:relative;
	margin-top:330px;
}

.cart_count{
	padding:0;
	text-align:left;
}


.description_right_header_left:hover, .description_right_header_right:hover{
	color:#bc473e;
}

.description_right_header_left, .description_right_header_right{
	position:relative;
	display:inline-block;
	cursor:pointer;
}

.description_right_header_left a, .description_right_header_right a{
	text-decoration: underline;
	color:#777;
}



.description_right_text{
	margin-top:10px;
}

.login_panel_item{
	float:right;
	position:relative;
	display:inline-block;
	padding-right:15px;
}
.login_text span{
}

.login_text{
	text-align:right;
}

.login_ico_wrapper{
	margin-top:-5px;
}

.login_ico{
	font-size:25px;
}

.search_panel_button:hover{
	background-color:#bc473e;
	color:#fff;
}

.search_panel_button{
	cursor:pointer;
	background-color:#fff;
	color:#bc473e;
	display:block;
	height:30px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
}

.search_panel i{
	font-size:21px;
	cursor:pointer;
}

.search_panel .search_panel_input{
	height:30px;
	margin:0;
}

.search_panel{
	margin-bottom:-8px;
	float:right;
	display:inline-block;
}

#logout, #registration_request_header, #login_header{
	cursor:pointer;
	text-align:right;
}

.user_panel_wrapper{
	float:right;
	width:250px;
	display:inline-block;
	color:#fff;
	padding:0;
	padding-top:18px;
}

#add_to_cart{
	padding:10px;
}

.unit_for_pay_content{
	margin-top:10px;
}

.cart_icon_button_wrapper{
	position:absolute;
	margin-top:-10px;
	margin-left:10px;
}

.cart_icon_button{
	font-size:36px;
}

.cart_link{
	color:#fff;
}

.cart_icon_wrapper{
	margin-top:-3px;
}

.cart_icon{
	padding-left:18px;
	font-size:27px;
}

.label_wrapper{
	height:40px;
}

.label_outer{
	background-color:#ffae00;
	position: absolute;
}

.label_outer span{
	padding:15px;
}

.sts_unit_header{
	font-size:23px;
}

#product_link{
	color:#fff;
}

#login{
	cursor:pointer;
}

.priority_unit_child_item_photo{
	margin-top: 30px;
}

.priority_unit_child_item_description{
	margin-top:30px;
}

.complex_unit_child_header{
	margin-left:-30px;
	font-size:24px;
}

.priority_unit_child_item_wrapper{
	margin-top:35px;
	margin-bottom:3px;
}

.priority_unit_child_item_rounder span{
	font-size: 23px;
	padding-left:11px;
}

.priority_unit_child_item_rounder{
	display:block;
	position:absolute;
	width:35px;
	height:35px;
	border-radius:35px;
}

.priority_unit_schema_wrapper{
	margin-top:40px;
}

.priority_unit_schema_content img{
	height:inherit;
}

.priority_unit_schema_content{
	text-align: center;
}

.priority_unit_schema_wrapper{
	height:600px;
}

.priority_unit_text_wrapper{
	margin-top:40px;
}

.complex_wrapper{
	margin-top:30px;
	margin-bottom:30px;
}

.priority_unit_details_button_wrapper{
	margin-top:15px;
}

.schema_content{
	margin-top:15px;
	height:450px;
}

.schema_content img{
	height:inherit;
}

.child_of_childs_wraper{
	margin-top:15px;
}

.child_of_childs_description span{
	position:absolute;
	margin-left:3px;
}

.circle_bage span{
	position:absolute;
	margin-left:5px;
	margin-top:-2px;
}

.circle_bage{
	display:block;
	height:25px;
	width:25px;
	padding:3px;
	border-radius:25px;
}

.thin_delimiter{
	margin-top:-5px;
	height:3px;
}

.complex_unit_header{
	font-size:24px;
}

.complex_variable span{
	font-size:24px;
}

.complex_variable{
	display:block;
	margin-top:30px;
	position:absolute;
	padding:5px;
	border-radius: 3px;
}

.complex_variable_wrapper{
	height:100px;
}

.catalogue_wrapper{
	margin-top:-10px;
}

.catalogue_right{
	margin-top:-10px;
}

.carousel_header{
	text-transform: uppercase;
	font-size:25px;
	line-height: 1;
}

.search_result_wrapper{
	margin-top:30px;
	min-height: 600px;
}

.search_input_wrapper{
	margin-top:10px;
}

.secondary_photo_item_wrapper{
	padding:3px;
}

.contact_address_item_ico img{
	height:30px;
}

.item_text_text p{
	margin:0;
}

.item_text_text{
	font-size:14px;
}

.address_item_text h3{
	font-size:20px;
}

.contact_address_item{
	height:120px;
}

.contact_firm_header{
	margin-top:40px;
}

.map_wrapper iframe{
	height:inherit;
	width:100%;
}

.map_wrapper{
	margin-top:60px;
	height:400px;
}

.secondary_photo_item{
	text-align: center;
	background-color:#fff;
	cursor:pointer;
	height:80px;
	border:1px solid #ddd;
	overflow: hidden
}

.min_photo_wrapper{
	position:absolute;
	left:14px;
	top:6px;
}

.photo_arrow_img{
	width:27px;
	min-height: 25px !important;
}

.secondary_photo_item img{
	display:inline-block;
	height:80px;
	max-width:160px;
}

.unit_for_pay_photo_secondary_wrapper{
	margin-top:15px;
}

.linked_units_wrapper{
	margin-top:60px;
}

.property_panel{
	margin-top:80px;
}

table{
	margin:0;
}

.description_right_header_panel h2{
	padding-top:8px;
	font-size:25px;
	text-transform: uppercase;
	line-height: 0.9;
}

.description_right_header_panel{
}

.unit_for_pay_description_left{
	overflow: hidden;
}

.unit_for_pay_description_right{
	padding-left:40px;
	padding-right:0;
}

.unit_for_pay_photo_wrapper{
	text-align:center;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #ddd;
	height:350px;
	display:block;
	background-color:#fff;
}

.unit_for_pay_photo_wrapper img{
	min-height:350px;
	max-width:450px;
}

a.unit_link:hover{
	color:#000;
}

.hr_delimiter{
	display:none;
}

.slash{
	position:absolute;
	margin-top:15px;
	color:#000;
}

.registration_note span{
	color:#999;
}

.registration_note{
	/* margin-top:20px;
	margin-bottom:20px; */
	font-size:14px;
}


.auth_submit, .registration_submit{
	margin-top:30px;
}

.auth_submit_button:hover, .registration_submit_button:hover{
	background-color:#bc473e;
}

.auth_submit_button, .registration_submit_button{
	height:60px;
	background-color:#222e44;
}

.registration_link{
	margin-top:8px;
}

.registration_link span:hover{
	color:#000;
}

.registration_link span{
	font-size:14px;
	color:#999;
	text-decoration: underline;
	cursor:pointer;
}

.lock_ico{
	display:block;
	height:35px;
	width:35px;
}
.lock_ico_wrapper{
	float:right;
	margin-top:30px;
}


input.n_tech_input:focus{
	border:2px solid #999;
}

input.n_tech_input{
	border:2px solid #ccc;
	border-radius:2px;
	font-family:"verdana";
}
input.n_tech_input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input.n_tech_input{
	-moz-appearance:textfield;
}

textarea.n_tech_textarea:focus{
	border:2px solid #999;
}

textarea.n_tech_textarea{
	border:2px solid #ccc;
	border-radius: 2px;
	font-family: "verdana";
}

.auth_login input, .registration_name input{
	margin-top:20px;
}


.auth_header h3, .registration_header h3{
	font-size:30px;
	line-height: 1.2;
}

.auth_header, .registration_header{
	margin-top:0;
}

.auth_inner, .registration_inner{
	padding-left:30px;
	padding-right:30px;
}

.level_2_unit_description_text p{
	line-height:1.1;
	font-size:13px;
	text-align: center;
}

.level_2_unit_description_wrapper{
	background-color:#fff;
	margin-top:-3px;
	height:140px;
	border:2px solid #e3e3e3;
	border-radius:3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top:none;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
}

.level_2_unit_photo img{
}

.level_2_unit_photo{
	padding: 5px 0 0 0;
	padding-top:0;
	background-color:#fff;
	text-align: center;
	overflow:hidden;
	border:2px solid #e3e3e3;
	border-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom:none;
	margin-top:10px;
	height:220px;
}

.level_2_unit_header span{
	padding-top:15px;
	display:table-cell;
	vertical-align: middle;
	text-transform: uppercase;
}

.level_2_unit_header{
	text-align: center;
	font-size:20px;
	line-height: 0.9;
	display:table;
	height:55px;
}

.level_2_unit_pannel{
	margin-top:40px;
}

.level_2_unit_wrapper:hover > .level_2_unit_photo{
	border:2px solid #ccc;
	border-bottom:none;
}

.level_2_unit_wrapper:hover > .level_2_unit_description_wrapper{
	border:2px solid #ccc;
	border-top:none;
	-webkit-box-shadow: 0 12px 6px -6px #ccc;
	-moz-box-shadow: 0 12px 6px -6px #ccc;
	box-shadow: 0 12px 6px -6px #ccc;
}

.level_2_unit_wrapper{
	margin-bottom:30px;
	cursor:pointer;
	min-height: 30px;
}

.level_2_description_panel{
	margin-top:10px;
}

.level_2_description_dot span{
	margin-left:40px;
}

.level_2_description_dot{
	margin-top:23px;
}

.level_2_description_text{
	padding-left:30px;
	padding-right:30px;
	line-height: 1.1;
	font-size: 16px;
	margin-top:15px;
}

.level_2_description{
	border-radius:3px;
	background-color:#222e44;
}

.content_line .h1_header{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.parent_tree span a{
	display: table-cell;
	vertical-align: middle;
	text-decoration: underline;
}

.parent_tree .parent_tree_unit{
	display:table;
	height:40px;
	/* width:120px; */
	line-height: 0.8;
}

.parent_tree_unit{
	margin-left: 10px;
	margin-right:10px;
}

.catalogue_ico{
	position:absolute;
	height:40px;
	width:40px;
}

.underscore{
	display:inline-block;
	position:absolute;
	width:160px;
	height:1px;
	background-color:#fff;
}

.header_text{
	width:50px;
}

.catalogue{
	width:300px;
	padding:15px;
	bottom:50px;
	float:right;
	border-radius:3px;
	text-transform: uppercase;
	cursor:pointer;
}

.products_outer{
	/* margin-top:30px; */
}

.content_line{
	padding-left:40px;
	padding-right:40px;
}

.delimiter{
	margin-top:-7px;
	height:7px;
}

.content_line h1{
	text-transform: uppercase;
}

.background_red{
	background-color:#bc473e;
}

.background_fff{
	background-color:#f7f7f7;
}

.color_red{
	color:#bc473e;
}

.color_red_link{
	color:#bc473e;
	border-bottom:solid 3px #bc473e;
}

.h1_header{
	font-family:"monitorica";
	font-size:30px;
}

.white_content{
	margin-top:60px;
}

.white_content_inner{
	background-color:#f7f7f7;
	border-radius:15px;
	padding-bottom:80px;
}

.white_content_wrapper{
	margin-top:120px;
	padding-left:50px;
	padding-right:50px;
}

.production_item_locked{
	margin-top:128px;
	margin-left:18px;
	display:block;
	position:absolute;
	height:46px;
	width:36px;
	/* background-color:#fff; */
}

.production_item_border{
	margin-top:-15px;
	margin-left:-14px;
	height:220px;
	border: 15px solid #f7f7f7;
	position:absolute;
	display:block;
	width:508px;
	border-radius:20px;
}

.footer_item .text{
	padding-left:10px;
	font-size:13px;
}

.mail_ico{
	height:22px;
	width:22px;
}

 .telephone_ico{
	height: 20px;
	width:20px;
 }

.location_ico{
	height:20px;
	width:22px;
	margin-right:10px;
}

.footer_item span{
	display:table-cell;
	vertical-align: middle;
	color:#fff;
	line-height: 1.2;
}

.footer_item{
	display:table;
	height:inherit;
}

.footer_content_inner{
}

.footer_content{
	padding-left:50px;
	padding-right:50px;
}

.footer_wrapper{
	background-color:#222e44;
	height:107px;
	margin-top:15px;
}

.production_item_description{
	font-size:15px;
	margin-top:110px;
	margin-left:240px;
	display:block;
	position:absolute;
	width:240px;
	color:#fff;
	line-height: 1.1;
}

.production_item_ico img{
}

.production_item_ico{
	margin-left:39px;
	margin-top:43px;
	position:absolute;
	display:block;
	height:110px;
	width:170px;
}

.production_item_ico_wrapper{
	margin-left:-40px;
	margin-top:63px;
	background-color:#222e44;
	width:240px;
	height:250px;
	transform:perspective(5px) rotateX(-1deg);
}

.production_go_next_active{
	display:none;
}

.production_go_next img{
	padding-top:7px;
	padding-bottom:7px;
	height:35px;
}

.production_go_next{
	display:block;
	height:40px;
	width:40px;
}

.production_go_next:hover{
	background-color:#fff;
}

.production_go_next:hover > .production_go_next_active{
	display:inline-block;
}

.production_go_next:hover > .production_go_next_passive{
	display:none;
}

.production_go_next_active{
	display:none;
}

.production_item_header_inner h2 span{
	padding-left:25px;
	width:200px;
}

.production_item_header_inner h2{
	text-transform: uppercase;
	font-size:18px;
	line-height: 1.1;
	display:table-cell;
	vertical-align: middle;
	color:#fff;
}

.production_item_header_inner{
	float:right;
	display:table;
}

.production_item_header_wrapper{
	margin-left:3px;
	position:absolute;
	height:94px;
	width:476px;
	background-color:#222e44;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}

.production_item_content{
	overflow: hidden;
	background-color:#56698f;
}

.production_item_content:hover{
	background-color:#bc473e;
}

.production_item_wrapper{
	padding:18px;
	/* background-color:#fff; */
	height:212px;
	overflow: hidden;
}

.productions_wrapper{
	padding-left:20px;
	padding-right:20px;
}

.description_text_right_item_text p{
}

.description_text_right_item_text{
	margin-top:20px;
	line-height: 1.1;
	font-size: 16px;
}

.description_text_right_item_dot span{
	float:left;
}

.description_text_right_item_dot{
	margin-top:23px;
}

.description_text_right_item{
}

.dot{
	display:block;
	height:12px;
	width:12px;
	border-radius:10px;
	background-color:#bc473e;
}

.description_text_right_header{
	color:#fff;
	font-size:26px;
	padding-left:5px;
	padding-right:5px;
	height:40px;
}

.main_description_text p{
	line-height: 1.3;
}

.main_description_text{
	margin-top:20px;
	font-family:"verdana";
	padding-left:40px;
	padding-right:40px;
}

.main_description_header{
	margin-top:30px;
	text-align: center;
	font-size:40px;
}

.main_description{
	margin-top:15px;
	padding-left:50px;
	padding-right:50px;
}

.main_description_inner{
	padding-bottom:80px;
	background-color:#f7f7f7;
	border-radius:15px;
}

.header_paragraph_mobile{
	display:none;
}
.header_ico{
	display:none;
}

body{
	overflow-y:scroll;
}

.carousel_small_circle.selected{
	border:2px solid #aaa;
}

.carousel_small_circle{
	cursor:pointer;
	border:2px solid #333;
	display:inline-block;
	height:15px;
	width:15px;
	background-color: #333;
	border-radius:15px;
}

.carousel_small_circle:hover{
	background-color:#bc473e;
}

.navigation{
	margin-top:410px;
	margin-left:580px;
	display:block;
	position:absolute;
	height:30px;
	min-width:50px;
}

.carousel_go_next:hover{
	background-color:#fff;
}

.carousel_go_next:hover > .carousel_go_next_active{
	display:inline-block;
}

.carousel_go_next:hover > .carousel_go_next_passive{
	display:none;
}

.carousel_go_next_active{
	display:none;
}

.carousel_go_next img{
	padding:7px;
	height:10px;
}

.n_tech_button:hover{
	background-color:#eee;
	color:#bc473e;
}

.n_tech_button_invert{
	display:inline-block;
	height:35px;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px;
	background-color:#eee;
	color:#bc473e;
}

.n_tech_button_invert:hover{
	background-color:#bc473e;
	color:#fff;
}

.associated_unit_arrows:hover{
	background-color:#999;
}

.n_tech_button{
	display:inline-block;
	height:35px;
	background-color:#bc473e;
	border-radius:3px;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
}

.cart_item_quantity_plus:hover, .cart_item_quantity_minus:hover{
	background-color:#999;
}

.photo_arrow:hover{
}

.carousel_unit_description_text{
 	color:#fff;
 	font-size:20px;
 	line-height: 1.2;
 	margin:10px;
 }

.parent_tree{
	border-top-right-radius: 3px;
	border-top-left-radius:3px;
	text-align: left;
	/* background-color:#bc473e; */
	/* padding-left:10px;
	padding-right:10px; */
}

/* .uppercase{
	text-transform: uppercase;
} */

.carousel_unit_description{
	position:absolute;
	display:block;
	min-height:98px;
	width:287px;
	background-color:rgba(0,0,0,.5);
	margin-left:830px;
	margin-top:120px;
	border-radius:5px;
	-webkit-box-shadow: 0 8px 6px -6px #000;
	-moz-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px #000;
}

.carousel_unit_description:hover{
	background-color:rgba(188, 71, 62, .8);
	-webkit-box-shadow: 0 8px 6px -6px #000;
	-moz-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px #000;
}

.carousel_panel{
	/* background-color: orange; */
	margin-top:120px;
	height:440px;
	overflow: hidden;
}

.carousel_panel img{
	min-height:100%;
	min-width:100%;
	object-fit:cover;
}

.carousel_unit_wrapper{
	height:440px;
	display:none;
	overflow: hidden;
}

.carousel_unit{
	position:absolute;
	display:block;
	margin-left:50px;
	width:1100px;
	height:440px;
	overflow:hidden;
	border-radius:15px;
}

.content_outer{
	z-index:1;
	position:absolute;
}

.header_contact_unit_text{
	text-align: left;
}

.background img{
	min-height: 100%;
	min-width: 100%;
	object-fit:cover;
}

.background{
	height:100%;
	position:fixed;
}

.header_paragraph{
	text-align: center;
	width:780px;
	float:right;
	margin-right:110px;
}

.header_paragraph_unit{
	margin-top:23px;
	text-transform: uppercase;
	font-size:18px;
	display:inline-block;
	position:relative;
	width:140px;
}

.header_contact_unit img{
}

.header_contact_unit{
	text-align: center;
	margin-top:18px;
}

.header_mail_logo, .header_phone_logo{
	height:24px;
}

.header_content_right{
	text-align: center;
}

.header_content_right_telephone{
	float:right;
	display:inline-block;
	height:50px;
	width:200px;
	color:#fff;
	/* background-color:purple; */
	font-size:18px;
}

.header_content_right_contact_info{
	float:right;
	display:inline-block;
	height:50px;
	width:200px;
	color:#fff;
	/* background-color:orange; */
	font-size:18px;
}

.verdana{
	font-family: "verdana";
}

.monitorica{
	font-family: "monitorica";
}

.header_logo_text{
	display:inline-block;
	position:absolute;
	height:100px;
	width:130px;
	margin-left:-10px;
	margin-top:45px;
	line-height: 1;
}

.header_logo_text_lower{
	font-family: "monitorica";
	color:#fff;
	text-transform: uppercase;
	font-size:20px;
	height:20px;
}

.header_logo_text_upper{
	font-family: "monitorica";
	color:#fff;
	text-transform: uppercase;
	font-size:20px;
	height:20px;
}

.header_content{
	z-index: 2;
	/* position:absolute; */
}

.header_logo img{
	margin-top:19px;
	margin-left:30px;
}

.header_logo{
	height: 74px;
}

.trapezium_level_1{
	position:absolute;
	width:1200px;
	background:#fff;
	transform: perspective(25px) rotateX(-1deg);
	border-radius:0 0 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.trapezium_level_2, .trapezium_level_2_2{
	margin-left:-9px;
	position:absolute;
	width:1220px;
	background:#222e44;
	height:64px;
	transform: perspective(25px) rotateX(-1deg);
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.trapezium_level_2_2{
	box-shadow: none;
}



.trapezium_level_3{
	margin-left:4px;
	position:absolute;
	width:230px;
	background:#222e44;
	height:125px;
	transform: perspective(5px) rotateX(-1deg);
	border-radius:0 0 10px 10px;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

.header_wrapper{
	position:absolute;
	/* background-color:red; */
	height:107px;
	z-index: 2;
}

/* для samsung */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.carousel_unit{
		width:880px;
	}
	.carousel_unit_description{
		margin-left:600px;
	}
	.navigation{
		margin-top:550px;
		margin-left:60px;
	}

	.carousel_small_circle.selected{
		background-color:#aaa;
	}

	.carousel_small_circle{
		margin:15px;
		height:55px;
		width:55px;
	}
	.carousel_unit_wrapper{
		height:640px;
	}
	.carousel_unit{
		height:640px;
	}
	.carousel_unit img{
		position: absolute;
	    top: -9999px;
	    right: -9999px;
	    bottom: -9999px;
	    left: -9999px;
	    margin: auto;
	    min-width: 1200px;
	    min-height: 100%;
	    opacity: 1;
	    filter: alpha(opacity=1);
	}
	.carousel_unit_description{
		height:350px;
		width: 600px;
		margin-left:320px;
		margin-top:280px;
	}

	.monitorica{
		font-size: 40px;
	}

	.n_tech_button{
		font-size:40px;
		height:70px;
		border-radius:3px;
		padding-right:15px;
		padding-left:15px;
	}

	.n_tech_button_invert{
		font-size:40px;
		height:70px;
		border-radius:3px;
		padding-right:15px;
		padding-left:15px;
	}

	.carousel_panel{
		margin-top:450px;
		height:660px;
	}



	.header_logo{
		height: 300px;
	}

	.header_logo_text_upper{
		font-size:90px;
	}
	.header_logo_text_lower{
		font-size:90px;
	}
	.header_logo_text{
		margin-top:90px;
	}
	.header_content_right_telephone{
		padding-left:60px;
		width:500px;
		height:80px;
	}
	.header_content_right_contact_info{
		padding-left:60px;
		width:500px;
		height:80px;
	}
	.header_contact_unit img{
		height:40px;
	}
	.header_wrapper{
		height:340px;
	}
	.trapezium_level_1{
		transform: perspective(0px) rotateX(0deg);		
	}
	.trapezium_level_2{
		height:340px;
		transform: perspective(0px) rotateX(0deg);
		margin-left:0;
	}

	.trapezium_level_2_2{
		transform: perspective(0px) rotateX(0deg);
		margin-left:0;
	}

	.trapezium_level_3{
		transform: perspective(0px) rotateX(0deg);
	}

	.header_content_left{
		margin-top:0px;
	}
	.header_ico{
		display:block;
		position:absolute;
		height:190px;
		width:185px;
		margin-top:150px;
		margin-left:370px;
		cursor:pointer;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
	}

	.header_ico:focus > i{
		color:#bc473e;
	}
	.header_ico:focus{
		background-color:#fff;
	}

	.header_ico i{
		color:#fff;
		font-size:150px;
	}
	.header_paragraph{
		display:none;
	}
	.header_paragraph_mobile{
		background-color:#222e44;
		display:none;
		padding:0 15px 15px 15px;
	}
	.header_paragraph_unit{
		margin-top:0;
		height:150px;
		width:100%;
	}
	.header_paragraph_unit span{
		font-size:60px;
		font-family: "monitorica";
	}
	.header_paragraph_mobile_inner{
		border-radius:10px;
		background-color:#fff;
		border-top-right-radius: 0;
	}
	.header_paragraph_unit a{
		display:block;
		height:inherit;
		width:inherit;
		padding-top:30px;
	}
	.main_description_header{
		font-size:120px;
	}
	.main_description_text{
		font-size:40px;
	}
	.main_description_text p{
		line-height: 1.3;
	}
	.description_text_right_header{
		font-size:70px;
		padding-left:10px;
		padding-right:10px;
		height:110px;
	}

	.description_text_right_item_text{
		margin-top:20px;
		line-height: 1.1;
		font-size: 50px;
	}
	.dot{
		height:30px;
		width:30px;
		border-radius:24px;
	}

	.description_text_right_item_dot{
		margin-top:46px;
	}

	.description_text_right_item_dot span{
		float:left;
	}

	.production_item_wrapper{
		padding-bottom:40px;
		padding-top:40px;
		height:500px;
		border-radius:30px;
	}

	.production_item_ico_wrapper{
		margin-left:-40px;
		margin-top:63px;
		background-color:#222e44;
		width:480px;
		height:500px;
		transform:none;
	}
	.production_item_ico{
		height:220px;
		width:300px;
	}
	.production_item_header_wrapper{
		width:775px;
		height:180px;
	}

	.production_item_header_inner{
		padding-left:30px;
	}

	.production_item_header_inner h2{
		font-size:36px;
	}
	.production_go_next{
		height:70px;
		width:80px;
	}
	.production_go_next img{
		height:75px;
	}
	.production_item_description{
		font-size:36px;
		margin-top:190px;
		margin-left:370px;
		width:400px;
	}
	.production_item_header_inner h2 span {
		padding-left:15px;
	}
	.footer_item .text{
		font-size:36px;
	}

	.mail_ico{
		height:84px;
		width:84px;
	}

	 .telephone_ico{
		height:80px;
		width:80px;
	 }

	.location_ico{
		height:80px;
		width:98px;
		margin-right:10px;
	}
	.copyright{
		font-size:80px;
	}

	.footer_item .telephone{
		padding-right:300px;
	}

	.footer_item .mail{
		padding-right:480px;
	}

	.footer_wrapper{
		height:430px;
	}
	.footer_item{
		height:107px;
	}
	.production_item_border{
		display:none;
	}

	.production_item_locked{
		margin-top:300px;
		margin-left:230px;
		display:block;
		position:absolute;
		height:120px;
		width:120px;
		/* background-color:#fff; */
	}
	.white_content_wrapper{
		margin-top:450px;
	}
	.h1_header{
		font-size:120px;
	}
	.delimiter{
		height:20px;
	}
	.catalogue{
		width:600px;
		font-size:40px;
	}
	.underscore{
		height:4px;
		width:400px;
	}
	.catalogue_ico{
		height:85px;
		width:85px;
	}
	.lock_ico{
		display:block;
		height:70px;
		width:70px;
		float:right;
	}
	.auth_header h3, .registration_header h3{
		font-size:60px;
	}
	input.n_tech_input{
		border:4px solid #ccc;
		border-radius:2px;
		height:90px;
		font-family:"verdana";
		font-size:40px;
	}
	input.n_tech_input:focus{
		border:4px solid #999;
	}

	textarea.n_tech_textarea{
		border:4px solid #ccc;
		border-radius:2px;
		font-size:40px;
	}

	textarea.n_tech_textarea:focus{
		border:4px solid #999;
	}

	.registration_link span{
		font-size:35px;
		line-height:1.0;
	}

	.auth_submit_button, .registration_submit_button{
		height:120px;
		background-color:#222e44;
		font-size:40px;
	}

	.registration_note span{
		font-size:40px;
	}

	.incorrect span, .correct span{
		font-size:40px;
	}

	.parent_tree{
		border-radius:15px;
		width:100%;
	}
	.hr_delimiter{
		display:block;
	}

	.level_2_description_dot span{
		margin-top:10px;
	}

	.level_2_description_text p{
		font-size:40px;
	}

	.level_2_unit_header span{
		text-transform:uppercase;
		font-size:80px;
	}
	.parent_tree .parent_tree_unit{
		display:table;
		height: 80px;
	}
	.parent_tree_unit{
		width:100%;
	}
	.slash{
		display:none;
	}
	.parent_tree .parent_tree_unit{
		width:100%;
	}
	.level_2_unit_photo{
		height:500px;
		border: 6px solid #ccc;
	}
	.level_2_unit_description_wrapper{
		margin-top:-6px;
		height:450px;
		border:6px solid #ccc;
	}
	.level_2_unit_wrapper{
		margin-bottom:30px;
	}


	.level_2_unit_description_text p{
		font-size:40px;
	}

	.level_2_unit_wrapper:hover > .level_2_unit_photo{
		border:6px solid #222e44;
	}

	.level_2_unit_wrapper:hover > .level_2_unit_description_wrapper{
		border:6px solid #222e44;
	}

	.unit_for_pay_photo_wrapper{
		border:3px solid #ddd;
		display:block;
		height:600px;
	}

	.unit_for_pay_description_right{
		margin-top:45px;
		padding-left:0;
		padding-right:0;
	}

	.description_right_header_left h2{
		font-size: 70px;
	}

	.description_right_header_right h2{
		font-size: 70px;
	}

	.description_right_text{
		margin-top:30px;
	}
	.description_right_text p{
		font-size:40px;
	}
	th{
		font-size:40px;
	}
	td{
		font-size:40px;
	}
	.linked_units_wrapper{
		margin-top:90px;
	}

	.linked_units_wrapper h3{
		font-size:60px;
	}

	.secondary_photo_item{
		height:400px;
		border:3px solid #ddd;
	}
	.secondary_photo_item img{
		height:400px;
		max-width: 600px
	}

	.unit_for_pay_photo_wrapper img{
		min-height:600px;
		max-width:1500px;
		overflow: hidden;
	}
	.unit_for_pay_secondary_wrapper{
		overflow: hidden;
	}

	.map_wrapper{
		height:800px;
	}

	.contact_firm_header h2{
		font-size:80px;
	}

	.contact_address_item{
		height:240px;
	}

	.item_text_header h3{
		font-size:60px;
	}

	.item_text_text p{
		font-size:40px;
		line-height:1.1;
	}

	.contact_address_item_ico img{
		height:80px;
	}

	.search_input_wrapper{
		margin-top:80px;
	}
	#process_searching{
		font-size:60px;
	}
	.searching_button{
		margin-top:60px;
	}
	.carousel_unit_description_text{
		font-size:35px;
	}

	.complex_variable_wrapper{
		height:200px;
	}
	.complex_variable span{
		font-size:80px;
	}

	.complex_unit_header{
		font-size:55px;
		margin-top:30px;
	}
	.thin_delimiter{
		margin-top:15px;
		height:12px;
	}
	.schema_content{
		margin-top:65px;
		margin-bottom:35px;
	}
	.circle_bage{
		height:95px;
		width:95px;
	}
	.circle_bage span{
		font-size:45px;
		padding-left:28px;
		padding-top:13px;
	}
	.child_of_childs_wraper{
		margin-top:65px;
		margin-bottom:55px;
	}

	.child_of_childs_description span{
		font-size:46px;
		line-height:0.9;
	}

	.priority_unit_details_button_wrapper{
		margin-bottom:45px;
	}
	.priority_unit_details_button_wrapper .n_tech_button{
		height:140px;
	}

	.priority_unit_child_item_rounder{
		width:95px;
		height:95px;
	}
	.priority_unit_child_item_rounder span{
		font-size:65px;
		margin-left:18px;
	}

	.complex_unit_child_header{
		font-size:70px;
		margin-left:0;
	}

	.label_wrapper{
		height:100px;
	}
	.sts_unit_header{
		font-size:60px;
	}

	.cart_icon_wrapper i{
		font-size:70px;
	}

	.cart_count{
		font-size:50px;
		text-align:right;
		padding-right:10px;
	}
	.header_contact_unit_text{
		font-size:45px;
	}
	.search_panel{
		width:inherit;
	}

	.search_panel .search_panel_input{
		height:90px;
	}

	input.search_panel_input{
		border:4px solid #ccc;
		border-radius:2px;
		font-family:"verdana";
		font-size:40px;
	}

	.search_panel_button{
		height:90px;
	}

	.search_panel i{
		font-size:40px;
	}

	.search_panel_button span{
		padding-left:60px;
	}

	.login_ico{
		font-size:50px;
	}
	.user_panel_wrapper{
		margin-top:0;
		width:500px;
	}
	.login_text{
		font-size:45px;
	}

	.cart_icon_button{
		font-size:60px;
	}

	.photo_arrow{
		width:80px;
	}

	.cart_item_quantity_header{
		font-size:50px;
	}

	.cart_item_quantity_wrapper{
		width:100%;
		margin-top:30px;
	}

	.cart_item_quantity_plus, .cart_item_quantity_minus{
		height:90px;
	}
	
	.unit_for_pay_descriptions{
		font-size:40px;
		height:70px;
		border-radius:3px;
		padding-right:15px;
		padding-left:15px;
	}
	.min_photo_wrapper{
		position:absolute;
		left:26px;
		top:6px;
	}
	.photo_arrow_img{
		width:30px;
		min-height: 30px !important;	
	}
	.carousel_change_unit{
		top:70px;
		height:50px;
		width:50px;
	}

	.carousel_change_unit img{
		min-height:inherit;
		min-width:inherit;
	}

	.carousel_change_right{
		right:30px;
	}

	.carousel_change_left{
		left:30px;
	}
	
	.modal_image_inner{
		margin-top:35%;
	}
	.close_photo{
		top:100px;
		height:140px;
		width:140px;
	}

	.close_photo_text{
		position:absolute;
		font-size:120px;
		top:-20px;
		left:35px;	
	}
	.photo_description_wrapper{
		bottom:15px;
	}
	.photo_description{
		height:50px;
	}
	.linked_unit_wrapper{
		height:450px;
	}
	.associated_panel{
		height:880px;
	}
	.associated_unit_wrapper{
		width:inherit;
		position:relative;
	}
}