.text_secondary{
	color:#777;
}

.shadow_hover:hover{
	border:1px solid #ccc;
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 8px 6px -6px #ccc;
}

.hover_red:hover{
	color:#bc473e;
}

.color_fff{
	color:#fff;
}
.color_000{
	color:#000;
}


h4{
	font-size:20px;
}

td p{
	margin-bottom:0;
}

.span_usual{
	font-size:15px;
}

.span_small{
	font-size:13px;
}

.span_large{
	font-size:18px;
}

.width_inherit{
	width: inherit;
}

.h2_header{
	font-size:30px;
}

a:focus{
	color:#bc473e;
}

a:hover{
	color:#bc473e;
}

a{
	color:#000;
}

.success{
	color:green;
}

.alert{
	color:red;
}

::selection {
  background: #eaeaea; /* WebKit/Blink Browsers */
  color:#000;
}
::-moz-selection {
  background: #eaeaea; /* Gecko Browsers */
  color:#000;
}

.height_inherit{
	height:inherit;
}

.transition{
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

#content_wrapper{
	
}

#topbar_left_content_wrapper{
	/* display:flex; */
}

.content_min_height{
	min-height: 100%;
}

.modal_content_inner{
}
#authorization_content{
	background-color:#fff;
	text-align: center;
	border-radius:3px;
}
#modal_content{
	background-color:#fff;
	overflow: scroll;
	overflow-y:scroll;
	text-align: center;
}

#authorization_content, .authorization_left, .authorization_right{
	min-height:300px;
}

#modal_content, .modal_left, .modal_right{
	height:700px;
}

#modal_window_wrapper, #authorization_window_wrapper, #modal_image_wrapper{
	/* display:none; */
	z-index:200;
	min-height: 100%;
	position:fixed;
	top:0;
	background-color:rgba(0,0,0,.9);
}

#loading_ico{
	height:50px;
	width:50px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
	-webkit-animation:rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}
}

#loading_ico{
	height:100px;
	width: 100px;
}

#loading_content{
	text-align: center;
}

.nomargin{
	margin:0;
}

.nopadding{
	padding:0;
}

#loading_shadow_wrapper{
	z-index: 200;
	min-height: 100%;
	position:fixed;
	top:0;
	background-color:rgba(0,0,0,.8);
}

.loading_left, .loading_right, #loading_content{
	height: 50px;
}

@font-face{
	font-family: "verdana";
	src: url("../fonts/verdana/verdana.ttf");
}

@font-face{
	font-family: "monitorica";
	src: url("../fonts/monitorica/OT-tt/Monitorica-Bd.ttf");
}

@font-face{
    font-family: "micradi"; /* Имя шрифта */
    src: url("../fonts/micradi/micradi.ttf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: "ImpactRegular";
    src: url("../fonts/ImpactRegular/ImpactRegular.eot");
    src: url("../fonts/ImpactRegular/ImpactRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ImpactRegular/ImpactRegular.woff") format("woff"),
    url("../fonts/ImpactRegular/ImpactRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* для samsung */
@media screen and (min-width: 640px) and (max-width: 1023px) {

	.h2_header{
		font-size:60px;
	}

	.span_usual{
		font-size:45px;
	}

	h4{
		font-size:50px;
	}

	.span_large{
		font-size:45px;
	}

}