<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">
			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<h1 class="h1_header color_red production_header_text">{{unit.Name}}</h1>	
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<div class="large-12 small-12 columns content_line level_2_description_panel">
				<div class="large-12 small-12 columns nopadding level_2_description background_fff">
					{{unit.Description|safe}}
				</div>
			</div>

			<!-- <div class="large-12 small-12 columns content_line">
				<img src="/media/{{unit.Background}}" alt="Лицензия ООО СКБ Новые технологии">
			</div> -->
		</div>
	</div>
</div>