<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">
			
			<div class="large-12 small-12 columns content_line">
				<h1 class="h1_header" title="{{unit.Name}}">{{unit.Name}}</h1>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>
			
			<!-- <div class="large-12 small-12 columns content_line catalogue_wrapper">
				<div class="catalogue verdana background_red color_fff">
			
					<div class="large-9 small-10 columns catalogue_left">
						<div class="large-12 small-12 columns nopadding">
							<span>скачать каталог</span>	
						</div>
						<div class="large-12 small-12 columns nopadding">
							<span class="underscore color_fff"></span>	
						</div>
					</div>
			
					<div class="large-3 small-2 columns catalogue_right">
						<span class="catalogue_ico">
							<img src="/media/media/ico/каталог.png" class="height_inherit" alt="каталог продукции">
						</span>	
					</div>
			
				</div>
			</div> -->

			{{products_panel}}
		</div>
	</div>
</div>