<div class="large-12 small-12 columns main_description">
	<div class="large-12 small-12 columns main_description_inner">
		<div class="large-12 small-12 columns main_description_header monitorica">
			<h1 class="h1_header">Наша продукция</h1>
		</div>
		{{products_panel}}
	</div>
</div>