<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			<div class="large-12 small-12 columns content_line">
				<h1 class="verdana sts_unit_header">Корзина</h1>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<table>
					<thead>
						<tr>
							<th width="50">№ пп</th>
							<th width="600">Наименование</th>
							<th>Количество</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for unit in units %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td><a href="/level/{{unit.level}}/unit/{{unit.unit_id}}">{{unit.name}}</a></td>

								<td>
									<div class="large-4 small-4 columns nopadding">
										<button class="n_tech_button cart_item_quantity_plus quantity_change" data-id="{{unit.unit_id}}"><i class="fi-plus"></i></button>	
									</div>
									<div class="large-5 small-5 columns nopadding">
										<input type="number" class="n_tech_input cart_item_quantity_input" value="{{unit.quantity}}" min="0" data-id="{{unit.unit_id}}">
									</div>
									<div class="large-3 small-3 columns nopadding">
										<button class="n_tech_button cart_item_quantity_minus quantity_change" data-id="{{unit.unit_id}}"><i class="fi-minus"></i></button>
									</div>
									
								</td>

								<td><a href="/cart_remove/unit/{{unit.unit_id}}"><button class="n_tech_button">Удалить из корзины</button></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="large-12 small-12 columns content_line">
				<h2 class="verdana h2_header">Информация о Вас</h2>
			</div>
			<div class="large-12 small-12 columns content_line">
				<input type="text" placeholder="Имя *" id="orderer_name" class="n_tech_input">
			</div>
			<div class="large-12 small-12 columns content_line">
				<input type="text" placeholder="Контактный телефон *" id="orderer_telephone" class="n_tech_input">
			</div>
			<div class="large-12 small-12 columns content_line">
				<input type="text" placeholder="Электронная почта" id="orderer_email" class="n_tech_input">
			</div>
			<div class="large-12 small-12 columns content_line">
				<textarea cols="30" rows="10" placeholder="Сопроводительный текст *" id="orderer_text" class="n_tech_textarea"></textarea>
			</div>
			<div class="large-12 small-12 columns content_line">
				<span class="verdana">* - обязательные поля</span>
			</div>
			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<span id="message_error" class="alert"></span>
				</div>
				<div class="large-12 small-12 columns nopadding">
					<span id="message_success" class="success"></span>
				</div>
			</div>
			<div class="large-12 small-12 columns content_line">
				<button class="n_tech_button" id="submit_order">Подтвердить заказ</button>
			</div>
		</div>
	</div>
</div>