<a href="/cart/" class="cart_link">
  <div class="large-4 small-5 columns nopadding">
    <span class="cart_icon_wrapper large-12 small-12 columns nopadding">
      <i class="fi-shopping-cart cart_icon"></i>  
    </span>
  </div>
  <div class="large-4 small-5 columns nopadding header_contact_unit_text">
    корзина
  </div>
  <div class="large-4 small-2 columns cart_count">
    {{units_count}}
  </div>
</a>