<div class="background">
	<img src="/media/media/background/IMG_202159.jpg" alt="">
</div>
<div class="large-12 small-12 columns content_page nopadding" data-id="{{unit.id}}">
	<div class="large-12 small-12 columns contacts_wrapper nopadding">
		<div class="contacts_left large-7 small-12 columns">
			<div class="large-12 small-12 columns">
				<h1 class="font_color">Оставьте нам сообщение!</h1>
			</div>

			<div class="large-12 small-12 columns">
				<div class="large-3 small-3 columns nopadding">
					<label for="name" class="font_color font_style">
						Контактное лицо *
					</label>
				</div>
				<div class="large-9 small-9 columns nopadding">
					<input type="text" id="name" class="font_style italic">
				</div>
			</div>

			<div class="large-12 small-12 columns">
				<div class="large-3 small-3 columns nopadding">
					<label for="telephone" class="font_color font_style">
						Телефон *
					</label>
				</div>
				<div class="large-9 small-9 columns nopadding">
					<input type="text" id="telephone" class="font_style italic">
				</div>
			</div>

			<div class="large-12 small-12 columns">
				<div class="large-3 small-3 columns nopadding">
					<label for="email" class="font_color font_style">
						Э/почта
					</label>
				</div>
				<div class="large-9 small-9 columns nopadding">
					<input type="text" id="email" class="font_style italic">
				</div>
			</div>

			<div class="large-12 small-12 columns">
				<div class="large-3 small-3 columns nopadding">
					<label for="text" class="font_color font_style">
						Текст *
					</label>
				</div>
				<div class="large-9 small-9 columns nopadding">
					<textarea name="" id="text" cols="30" rows="10" class="font_style italic"></textarea>
				</div>
			</div>

			<div class="large-12 small-12 columns">
				<p class="font_style font_color">
					* - обязательные поля
				</p>
			</div>
			
			<div class="large-12 small-12 columns message">
				<p class="font_style alert">
					
				</p>
				<p class="font_style success">
					
				</p>
			</div>

			<div class="large-12 small-12 columns">
				<button class="tech_msk_button selected submit_form large-4 small-4 columns">Отправить</button>
			</div>
		</div>

		<div class="large-5 small-12 columns contacts_right">
			<div class="large-12 small-12 columns">
				<h1 class="font_color">Карта</h1>
			</div>
			<div class="large-12 small-12 columns map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1588.3650731676844!2d37.71828195891611!3d55.73613475586811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab54bdd34cb89%3A0xbd30bc21d9ae001b!2z0JDQstC40LDQvNC-0YLQvtGA0L3QsNGPINGD0LsuLCA1MCwg0JzQvtGB0LrQstCwLCAxMTEwMjQ!5e0!3m2!1sru!2sru!4v1488289866248" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="large-12 small-12 columns">
				<h1 class="font_color">Адрес</h1>
			</div>
			<div class="large-12 small-12 columns">
				<p class="font_style font_color">111024, г. Москва, ул. Авиамоторная, д. 50, строение 2.</p>
			</div>
		</div>
	</div>
</div>