<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta content="user-scalable=yes" name="viewport" initial-scale="1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{meta.Description}}" />
  <meta name="google-site-verification" content="cpVez0tOEh51g5wkPaQl0iLsWxg2b_JnaFxkD0RiE_c" />
  <title>{{meta.Title}}</title>
	{% load staticfiles %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.waitforimages.js' %}"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83976324-3', 'auto');
  ga('send', 'pageview');
  </script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50372956 = new Ya.Metrika2({
                    id:50372956,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50372956" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <script type="application/ld+json">
    {{json_ld.jsons|safe}};
  </script>

  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-flex.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

  {% csrf_token %}

  <div class="large-12 small-12 columns nopadding background">
    <img src="/media/media/background/фонн.jpg" alt="">
  </div>

  <!-- блок заголовок -->
  <div class="large-12 small-12 columns nopadding header_wrapper">
    <div class="row height_inherit">

      <div class="large-12 small-12 columns trapezium_level_1 height_inherit nopadding">
            
      </div>

      <div class="large-12 small-12 columns trapezium_level_2 nopadding">
        
      </div>

      <div class="large-12 small-12 columns trapezium_level_3 nopadding">
        
      </div>

      <div class="large-12 small-12 columns trapezium_level_2_2 nopadding">
        
      </div>

      <!-- блок содержания верхнего меню -->
      <div class="large-12 small-12 columns header_content nopadding height_inherit">
        
        <a href="/">
          <div class="large-3 small-5 columns nopadding header_content_left height_inherit">
            <div class="large-12 small-12 columns nopadding header_logo">

              <img src="/media/media/logo/ЛОГО.png" alt="" class="height_inherit">

              <div class="header_logo_text height_inherit">
                <span class="header_logo_text_upper">
                новые
                </span>
                <span class="header_logo_text_lower">
                  технологии
                </span>
              </div>
              
            </div>
          </div>
        </a>

        <div class="large-9 small-7 columns nopadding header_content_right height_inherit">
          
          <div class="large-12 small-12 columns nopadding">

            <!-- корзина -->
            <div class="header_content_right_contact_info monitorica">
              <div class="large-12 small-12 columns nopadding header_contact_unit cart_wrapper">
                {{cart_html}}
              </div>
            </div>
            <!-- конец блока корзина -->

            <!-- панель пользователя-->
            <div class="user_panel_wrapper">
              {{login_panel}}
            </div>
            <!-- конец панели пользователя-->

          </div>

          <div class="header_ico" tabindex="1">
            <i class="fi-align-justify"></i>
          </div>

          <!-- панель разделы -->
          <div class="header_paragraph monitorica">
            {{header_panel}}
          </div>
          <!-- конец панели разделов-->
        </div>


        <div class="small-12 columns header_paragraph_mobile">
          <div class="small-12 columns header_paragraph_mobile_inner">
            {{header_panel}}
          </div>
        </div>
      </div>
      <!-- конец блока содержания верхнего меню -->
    </div>
  </div>   


  <!-- блок загрузка -->
  <div class="large-12 small-12 columns row align-middle" id="loading_shadow_wrapper" style="display:none;">
    <div class="large-12 small-12 columns nopadding">
      <div class="large-5 small-5 columns nopadding loading_left">
        
      </div>
      <div id="loading_content" class="large-2 small-2 columns nopadding">
        <img src="/media/media/loading/load-icon-png-0.png" alt="" id="loading_ico">     
      </div>
      <div class="large-5 small-5 columns nopadding loading_right"></div>
    </div>
  </div>
  <!-- конец блока загрузки -->

  <!-- модальное окно для картинок -->
  <div class="large-12 small-12 columns nopadding row align-middle" id="modal_image_wrapper">
      <div class="modal_image_inner large-12 small-12 columns nopadding">
      </div>  
  </div>
  <!-- конец модального окна для картинок-->

  <!-- блок модальное окно -->
  <div class="large-12 small-12 columns row align-middle" id="modal_window_wrapper" style="display:none;">

    <div class="large-12 small-12 columns nopadding">
     <div class="large-1 small-1 columns nopadding modal_left"></div>

      <div id="modal_content" class="large-10 small-10 columns nopadding">
        <div class="large-12 small-12 columns nopadding modal_content_inner">

        </div>
      </div>

      <div class="large-1 small-1 columns nopadding modal_right"></div>
    </div>

  </div>
  <!-- конец блока модального окна -->

  <!-- блок окно авторизации-->
  <div class="large-12 small-12 columns row align-middle" id="authorization_window_wrapper" style="display:none;">
    
    <div class="large-12 small-12 columns nopadding">
      <div class="large-4 small-2 columns nopadding authorization_left"></div>
      
      <div id="authorization_content" class="large-4 small-8 columns nopadding">
        <div class="large-12 small-12 columns nopadding authorization_content_inner">

        </div>
      </div>

      <div class="large-4 small-2 columns nopadding authorization_right"></div>
    </div>

  </div>
  <!-- конец блока окно авторизации-->

  <!-- блок содержание -->
  <div class="large-12 small-12 columns nopadding content_outer">
    <div class="row">
      <div class="large-12 small-12 columns content_min_height nopadding" id="content_wrapper">
            {% block content %}{% endblock %}
      </div>
    </div>

    <!-- блок footer -->
    <div class="large-12 small-12 columns nopadding footer_wrapper">
      <div class="row height_inherit">
        <div class="large-12 small-12 columns footer_content height_inherit">
          <div class="large-12 small-12 columns footer_content_inner height_inherit nopadding">

            <div class="large-3 small-12 columns footer_item  verdana nopadding">
              <span><img src="/media/media/ico/С на сайт.png" alt="локация" class="location_ico"></span>
              <span class="text">2017 СКБ «Новые технологии»</span>
            </div>

            <div class="large-3 small-12 columns footer_item  verdana nopadding">
                <span><img src="/media/media/ico/локация.png" alt="локация" class="location_ico"></span>
                <span class="text">420073, Россия, г. Казань, ул. Гвардейская, 33 оф. 303-305</span>       
            </div>

            <div class="large-3 small-12 columns footer_item  verdana nopadding">
              <span><img src="/media/media/ico/трубка на сайт.png" alt="телефон" class="telephone_ico"></span>
              <span class="text telephone">тел.: +7 (843) 228-53-07
              <br>
              тел.: +7 (843) 228-53-08
              </span>
            </div>

            <div class="large-3 small-12 columns footer_item verdana nopadding">
              <span><img src="/media/media/ico/почта.png" alt="почта белый" class="mail_ico"></span>
              <span class="text mail">info@kb-nt.com</span>
            </div>

          </div>
        </div>
      </div>  
    </div>
    <!-- конец блока footer -->
  </div>
  <!-- конец блока содержания-->
  <script src="{% static 'js/unit_for_pay.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
  <script src="{% static 'js/send_letter.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/photo_view.js' %}"></script>
  <script src="{% static 'js/authorization.js' %}"></script>
  <script src="{% static 'js/header_menu_mobile.js' %}"></script>
  <script src="{% static 'js/download_catalogue.js' %}"></script>
  <script src="{% static 'js/application.js' %}"></script>
  <script src="{% static 'js/associated_units.js' %}"></script>
  <script src="{% static 'js/jquery_hover.js' %}"></script>
  <script>
    //ajax заппрос
    var makeAjax = function(parameters){
      $.ajax({
          type: "POST",
          url: "/ajax/",
          data: JSON.stringify(parameters),
          contentType: "application/json; charset=utf-8",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          dataType: "json",
          async: true,
          success: function(data, textStatus, jqXHR){
            readResponseCart(data, parameters);
            readResponseAuthorization(data, parameters);
            readResponsePhotoView(data, parameters);
            readResponseSearch(data, parameters);
            readResponseSendLetter(data, parameters);
            readResponseGetCarouselUnits(data, parameters);
            /*readResponseHeader(data, parameters);
            readResponseContacts(data, parameters);*/
          }
      });
    }

    //построить cookie в данном случае для csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
</body>