<div class="large-12 small-12 columns content_line priority_unit_child_item_wrapper">
	<div class="large-1 small-2 columns nopadding">
		<div class="priority_unit_child_item_rounder background_red color_fff">
			<span>{{counter}}</span>
		</div>
	</div>
	<div class="large-11 small-10 columns nopadding">
		<h2 class="verdana complex_unit_child_header color_red">{{item.Name|capfirst}}</h3>		
	</div>
</div>

<div class="large-12 small-12 columns content_line">
	<div class="large-12 small-12 columns nopadding background_red thin_delimiter"></div>
</div>

<div class="large-12 small-12 columns content_line">

	<div class="large-7 small-12 columns nopadding priority_unit_child_item_description description_right_text verdana">
		{{item.Description|linebreaks}}	
	</div>

	<div class="large-5 small-12 columns nopadding priority_unit_child_item_photo">
		
		<div class="unit_for_pay_photo_wrapper">
			<img src="/media/{{main_photo.Small}}" alt="{{item.Name}}" class="photo" data-id="{{main_photo.id}}">
		</div>
		<div class="unit_for_pay_photo_secondary_wrapper large-12 small-12 columns nopadding">
			{% for photo_child in photo_childs %}
				<div class="large-4 small-6 columns secondary_photo_item_wrapper" style="float:left;">
					<div class="large-12 small-12 columns nopadding secondary_photo_item">
						<img src="/media/{{photo_child.Small}}" alt="{{unit.Name}}" class="photo" data-id="{{photo_child.id}}">
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

</div>

<div class="large-12 small-12 columns content_line">
	<div class="large-12 small-12 columns properties_table nopadding property_panel">
		<table>
			<thead>
				<tr>
					<th class="verdana uppercase">технические характеристики</th>
				</tr>
			</thead>
		</table>
		<table>
			<tbody>
				{% for property in properties %}
					<tr>
						<td class="verdana">{{property.Name}}</td>
						<td class="verdana">{{property.Description}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>