<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			<div class="large-12 small-12 columns content_line">
				<button class="monitorica parent_tree color_fff">
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/">
									Главная
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
					{% for parent in parents_tree %}
						{% if forloop.first %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
						{% elif not forloop.last %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
						{% else %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
							</span>
						{% endif %}
					{% endfor %}
				</button>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<h1 class="h1_header color_red production_header_text">{{priority_unit.Name}}</h1>	
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<div class="large-12 small-12 columns content_line priority_unit_text_wrapper">
				<div class="large-5 small-12 columns unit_for_pay_description_left nopadding">
					<div class="unit_for_pay_photo_wrapper">
						<img src="/media/{{photo.Small}}" alt="{{priority_unit.Name}}" class="photo" data-id="{{photo.id}}">
					</div>
					<div class="unit_for_pay_photo_secondary_wrapper large-12 small-12 columns nopadding">
						{% for photo_child in photos_children %}
							<div class="large-4 small-6 columns secondary_photo_item_wrapper" style="float:left;">
								<div class="large-12 small-12 columns nopadding secondary_photo_item">
									<img src="/media/{{photo_child.Small}}" alt="{{unit.Name}}" class="photo" data-id="{{photo_child.id}}">
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="large-7 small-12 columns unit_for_pay_description_right">
					<div class="description_right_text verdana large-12 small-12 columns nopadding">
						{{priority_unit.Description|linebreaks}}
					</div>
				</div>
			</div>


			<div class="large-12 small-12 columns content_line">
				<div class="complex_variable_wrapper large-12 small-12 colunms nopadding">
					<div class="complex_variable monitorica color_fff background_red">
						<span>Варианты исполнения</span>
					</div>
				</div>
			</div>

			{% for child in children %}
				<div class="large-12 small-12 columns content_line">
					<h2 class="verdana complex_unit_header">{{child.Name|capfirst}}</h3>
				</div>

				<div class="large-12 small-12 columns content_line">
					<div class="large-12 small-12 columns nopadding background_red thin_delimiter"></div>
				</div>

				<div class="large-12 small-12 columns content_line complex_wrapper">

					<div class="large-8 small-12 columns nopadding schema_wrapper">
						<div class="schema_content large-12 small-12 columns">
							<img src="/media/{{child.Schema}}" alt="Схема {{child.Name}}">
						</div>
					</div>

					<div class="large-4 small-12 columns nopadding priority_unit_child_unit_name_wrapper">
						{% for child_of_childs in childs_of_childs %}
							{% if child_of_childs.child_id == child.id %}
								{% for chi in child_of_childs.childs_of_childs %}
									<div class="large-12 small-12 columns nopadding child_of_childs_wraper">
										<div class="large-1 small-2 columns nopadding child_of_childs_circle_wrapper">
											<span class="circle_bage background_red color_fff">
											
												<span>{{forloop.counter}}</span>

											</span>											
										</div>
										<div class="large-11 small-10 columns nopadding child_of_childs_description verdana">
											<span>{{chi.Name|capfirst}}</span>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						{% endfor %}
						<div class="large-12 small-12 columns priority_unit_details_button_wrapper nopadding">
							<a href="/level/{{child.level}}/unit_priority/{{child.id}}">
								<button class="n_tech_button large-12 small-12 columns">Подробнее о комплектации</button>
							</a>
						</div>
					</div>
					<hr class="hr_delimiter">
				</div>
			{% endfor %}

		</div>
	</div>
</div>