<div class="large-12 small-12 columns white_content_wrapper">
	<div class="large-12 small-12 columns white_content_inner">
		<div class="large-12 small-12 columns white_content nopadding">

			<div class="large-12 small-12 columns content_line">
				<button class="monitorica parent_tree color_fff">
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/">
									Главная
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
					{% for parent in parents_tree %}
						{% if forloop.first %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
						{% elif not forloop.last %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
								<span class="slash">/</span>
							</span>
							<hr class="hr_delimiter">
						{% else %}
							<span class="parent_tree_unit nopadding" style="float:left;">
								<a href="/level/{{parent.level}}/unit_priority/{{parent.id}}/">
									{{parent.Name|capfirst}}
								</a>
							</span>
						{% endif %}
					{% endfor %}
				</button>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding">
					<h1 class="h1_header color_red production_header_text">{{priority_unit.Name}}</h1>	
				</div>
			</div>

			<div class="large-12 small-12 columns content_line">
				<div class="large-12 small-12 columns nopadding delimiter background_red"></div>
			</div>

			<div class="large-12 small-12 columns content_line priority_unit_text_wrapper">
				<div class="large-12 small-12 columns text_wrapper nopadding verdana description_right_text">
					{{priority_unit.Description|linebreaks}}
				</div>
			</div>

			<div class="large-12 small-12 columns content_line priority_unit_schema_wrapper">
				<div class="large-12 small-12 columns priority_unit_schema_content height_inherit">
					<img src="/media/{{priority_unit.Schema}}" alt="Схема {{priority_unit.Name}}">
				</div>
			</div>
			
			{{priority_unit_child_production_panel_html}}
		</div>
	</div>
</div>